@import '../media';
@import '../vars';

.hd-grid {
  align-items: stretch;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;

  &.hd-container {
    display: flex;
    margin: auto;

    .hd-container {
      padding: 0;
    }

    @for $i from 1 through 12 {
      width: $hd-media-xs-width - $hd-grid-container-gutter;

      > .hd-xs-#{$i} {
        flex-basis: (100% / 12 * $i);
      }

      > .hd-sm-#{$i},
      > .hd-md-#{$i},
      > .hd-lg-#{$i},
      > .hd-xl-#{$i} {
        flex-basis: 100%;
      }
    }
  }

  &.hd-hidden {
    display: none;
  }
}

@media screen and (min-width: $hd-media-sm-width) {
  .hd-grid {
    &.hd-container {
      width: $hd-media-sm-width - $hd-grid-container-gutter;

      @for $i from 1 through 12 {
        > .hd-sm-#{$i} {
          flex-basis: (100% / 12 * $i);
        }

        > .hd-md-#{$i},
        > .hd-lg-#{$i},
        > .hd-xl-#{$i} {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $hd-media-md-width) {
  .hd-grid {
    &.hd-container {
      width: $hd-media-md-width - $hd-grid-container-gutter;

      @for $i from 1 through 12 {
        > .hd-md-#{$i} {
          flex-basis: (100% / 12 * $i);
        }

        > .hd-lg-#{$i},
        > .hd-xl-#{$i} {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $hd-media-lg-width) {
  .hd-grid {
    &.hd-container {
      width: $hd-media-lg-width - $hd-grid-container-gutter;

      @for $i from 1 through 12 {
        > .hd-lg-#{$i} {
          flex-basis: (100% / 12 * $i);
        }

        > .hd-xl-#{$i} {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $hd-media-xl-width) {
  .hd-grid {
    &.hd-container {
      width: $hd-media-xl-width - $hd-grid-container-gutter;

      @for $i from 1 through 12 {
        > .hd-xl-#{$i} {
          flex-basis: (100% / 12 * $i);
        }
      }
    }
  }
}

@include hd-media-hide(grid, xs, $hd-media-xs-width, $hd-media-sm-width);
@include hd-media-hide(grid, sm, $hd-media-sm-width, $hd-media-md-width);
@include hd-media-hide(grid, md, $hd-media-md-width, $hd-media-lg-width);
@include hd-media-hide(grid, lg, $hd-media-lg-width, $hd-media-xl-width);
@include hd-media-hide(grid, xl, $hd-media-xl-width, 0);
