$align-list: baseline center flex-end flex-start stretch;
$justify-list: center flex-end flex-start space-around space-between;

@mixin hd-align($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}

@each $align in $align-list {
  @each $justify in $justify-list {
    @if $align == $justify {
      @if $align == flex-start {
        &.hd-align-start {
          @include hd-align($align, $justify);
        }
      }
      @else if $align == flex-end {
        &.hd-align-end {
          @include hd-align($align, $justify);
        }
      }
      @else {
        &.hd-align-#{$align} {
          @include hd-align($align, $justify);
        }
      }
    }
    @else {
      @if $align == flex-start {
        @if $justify == flex-end {
          &.hd-align-start-end {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-around {
          &.hd-align-start-around {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-between {
          &.hd-align-start-between {
            @include hd-align($align, $justify);
          }
        }
        @else {
          &.hd-align-start-#{$justify} {
            @include hd-align($align, $justify);
          }
        }
      }
      @else if $align == flex-end {
        @if $justify == flex-start {
          &.hd-align-end-start {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-around {
          &.hd-align-end-around {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-between {
          &.hd-align-end-between {
            @include hd-align($align, $justify);
          }
        }
        @else {
          &.hd-align-end-#{$justify} {
            @include hd-align($align, $justify);
          }
        }
      }
      @else {
        @if $justify == flex-start {
          &.hd-align-#{$align}-start {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == flex-end {
          &.hd-align-#{$align}-end {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-around {
          &.hd-align-#{$align}-around {
            @include hd-align($align, $justify);
          }
        }
        @else if $justify == space-between {
          &.hd-align-#{$align}-between {
            @include hd-align($align, $justify);
          }
        }
        @else {
          &.hd-align-#{$align}-#{$justify} {
            @include hd-align($align, $justify);
          }
        }
      }
    }
  }
}
