@import '../vars';

.hd-flex {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;

  @import './align';

  &.hd-column {
    flex-direction: column;
  }

  &.hd-row {
    flex-direction: row;
  }

  @for $i from 1 through 20 {
    &.hd-basis-#{$i * 5} {
      flex-basis: 1% * ($i * 5);
    }
  }

  &.hd-basis-33 {
    flex-basis: (100% / 3);
  }

  &.hd-basis-66 {
    flex-basis: (100% / 3 * 2);
  }

  &.hd-grow {
    flex-grow: 1;
  }

  &.hd-overflow {
    overflow: auto;
  }

  &.hd-shrink {
    flex-shrink: 1;
  }

  &.hd-hidden {
    display: none;
  }
}

@media screen and (min-width: $hd-media-xs-width) {
  .hd-flex {
    &.hd-hide-xs {
      display: none;
    }
  }
}

@media screen and (min-width: $hd-media-sm-width) {
  .hd-flex {
    &.hd-hide-sm {
      display: none;
    }
  }
}

@media screen and (min-width: $hd-media-md-width) {
  .hd-flex {
    &.hd-hide-md {
      display: none;
    }
  }
}

@media screen and (min-width: $hd-media-lg-width) {
  .hd-flex {
    &.hd-hide-lg {
      display: none;
    }
  }
}

@media screen and (min-width: $hd-media-xl-width) {
  .hd-flex {
    &.hd-hide-xl {
      display: none;
    }
  }
}
