@import '../media';
@import '../vars';

.hd-flex {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;

  @import '../align';

  &.hd-column {
    flex-direction: column;
  }

  &.hd-row {
    flex-direction: row;
  }

  @for $i from 1 through 20 {
    &.hd-basis-#{$i * 5} {
      flex-basis: 1% * ($i * 5);
    }
  }

  &.hd-basis-33 {
    flex-basis: (100% / 3);
  }

  &.hd-basis-66 {
    flex-basis: (100% / 3 * 2);
  }

  &.hd-grow {
    flex-grow: 1;
  }

  &.hd-overflow {
    overflow: auto;
  }

  &.hd-shrink {
    flex-shrink: 1;
  }

  &.hd-hidden {
    display: none;
  }

  &.hd-show {
    display: none;
  }

  &.hd-wrap {
    flex-wrap: wrap;
  }
}

@include hd-media-hide(flex, xs, $hd-media-xs-width, $hd-media-sm-width);
@include hd-media-hide(flex, sm, $hd-media-sm-width, $hd-media-md-width);
@include hd-media-hide(flex, md, $hd-media-md-width, $hd-media-lg-width);
@include hd-media-hide(flex, lg, $hd-media-lg-width, $hd-media-xl-width);
@include hd-media-hide(flex, xl, $hd-media-xl-width, 0);

@include hd-media-show(flex, xs, $hd-media-xs-width, $hd-media-sm-width);
@include hd-media-show(flex, sm, $hd-media-sm-width, $hd-media-md-width);
@include hd-media-show(flex, md, $hd-media-md-width, $hd-media-lg-width);
@include hd-media-show(flex, lg, $hd-media-lg-width, $hd-media-xl-width);
@include hd-media-show(flex, xl, $hd-media-xl-width, 0);
