@import '../vars';

.hd-toggle {
  border-radius: .1em;
  box-sizing: border-box;
  display: inline-block;
  height: 3em;
  line-height: 1em;
  margin: .5em 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 6em;

  &.hd-disabled {
    opacity: .3;
  }

  .hd-toggle-switch {
    background-color: $hd-toggle-switch-bg-color;
    box-shadow: inset 0 .1em .3em .1em $hd-toggle-box-shadow-color;
    box-sizing: border-box;
    display: inline-block;
    height: 3em;
    overflow: hidden;
    position: relative;
    transition: background-color .2s;
    width: 6em;
  }

  .hd-toggle-slider {
    background-color: $hd-toggle-slider-bg-color;
    border-radius: .1em;
    bottom: .2em;
    box-shadow: 0 .1em .3em .1em $hd-toggle-box-shadow-color;
    box-sizing: border-box;
    display: inline-block;
    height: 2.2em;
    left: .4em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: .4em;
    transition: left .2s;
    width: 2.6em;
  }

  .hd-toggle-input {
    display: none;

    &:not(:disabled) {
      &:active {
        + .hd-toggle-switch {
          background-color: $hd-toggle-switch-active-bg-color;

          .hd-toggle-slider {
            background-color: $hd-toggle-slider-active-bg-color;
          }
        }
      }
    }

    &:checked {
      + .hd-toggle-switch {
        background-color: $hd-toggle-switch-checked-bg-color;

        .hd-toggle-slider {
          left: 3em;
        }
      }
    }

    &:disabled {
      + .hd-toggle-switch {
        background-color: $hd-toggle-switch-disabled-bg-color;
      }
    }
  }
}
