$hd-media-xs-width: 320px;
$hd-media-sm-width: 480px;
$hd-media-md-width: 768px;
$hd-media-lg-width: 1024px;
$hd-media-xl-width: 1280px;

$hd-button-active-bg-color: #666;
$hd-button-bg-color: #000;
$hd-button-box-shadow-color: rgba(0, 0, 0, .3);
$hd-button-disabled-font-color: #ccc;
$hd-button-focus-outline-color: #ccc;
$hd-button-font-color: #eee;
$hd-button-font-family: Helvetica, Arial, sans-serif;
$hd-button-font-size: 1em;
$hd-button-hover-bg-color: #333;
$hd-button-primary-active-bg-color: #0cf;
$hd-button-primary-bg-color: #069;
$hd-button-primary-hover-bg-color: #09c;
$hd-button-warning-active-bg-color: #f90;
$hd-button-warning-bg-color: #930;
$hd-button-warning-hover-bg-color: #c60;
